<h1>Contact Us</h1>

 <p>We welcome your feedback. Please submit the form below to let us know what you think or alert us to any problems you are having with QuizMe.</p>

 <h2>Feedback</h2>

 <!-- Feedback form will go here -->

 <p><%= link_to 'Welcome', welcome_path %></p>
 