<h1>Welcome to QuizMe!</h1>

<p>
    QuizMe is a free <%= link_to "Quizlet", "https://quizlet.com", target: "_blank" %> style quizzing application that helps you learn by taking quizzes and trying to improve your scores.
</p>

<%= image_tag "quiz-bubble.png", height: 300 %>

<h2>Features</h2>

<p>
    QuizMe allows users to:
</p>

<ul>
    <li>Choose from premade quizzes on a variety of topics</li>
    <li>Make your own quizzes to customize your learning</li>
    <li>Compare your scores with other users</li>
</ul>

<p>
QuizMe also supports a variety of question styles like multiple choice and fill in the blank.
</p>
